<html>
<body>
    <div>
        <form method="post">
            <input type="text" name="name" placeholder="Название продукта">
            <input type="number" name="weight" placeholder="Вес">
            <button type="submit">Добавить</button>
        </form>
        <form method="post" enctype="multipart/form-data" action="loadFromFile">
            <input type="file" name="file">
            <button type="submit">Добавить</button>
        </form>
        <form method="post" action="deleteProduct">
            <input type="text" name="name" placeholder="имя продукта">
            <button type="submit">Удалить</button>
        </form>
    </div>
    <div>Список заказов</div>
    {{#history}}
        <div>
            <b>{{id}}</b>
            <span>{{name}}</span>
            <i>{{weight}}</i>
        </div>
    {{/history}}
</body>
</html>